(
    board_size: (5, 5),
    objects: {
        (x:0, y:1): Rock,
        (x:0, y:3): Rock,
        (x:1, y:0): Rock,
        (x:1, y:4): Rock,
        (x:2, y:2): BombSmall,
        (x:3, y:0): Rock,
        (x:3, y:4): Rock,
        (x:4, y:1): Rock,
        (x:4, y:3): Rock,
    },
    fire_coord: (x:0, y:1),
    meta: (
        name: "test",
        // message: Some("Do not break the Jewels."),
    )
)