(
    board_size: (4, 5),
    objects: {
        (x:0, y:1): BombSmall,
        (x:1, y:4): Rock,
        (x:2, y:0): Gem,
        (x:1, y:3): Null,
    },
    fire_coord: (x:0, y:1),
    level_meta: {}
)