(
    board_size: (7, 7),
    objects: {
        (x:5, y:2): Rock,
        (x:4, y:0): Jewel,
        (x:4, y:2): Rock,
        (x:5, y:6): BombMedium,
        (x:3, y:5): Rock,
        (x:3, y:1): Rock,
        (x:6, y:3): Rock,
        (x:5, y:0): Rock,
        (x:0, y:6): BombSmall,
    },
    fire_coord: (x:5, y:6),
    meta: (
        name: "Barricade",
        min_bombs: 4,
        min_affected_cells: 28,
    )
)
